:root {
  --black: #0c1713;
  --off-white: #fdfdec;
  --white: #fff;
  --maze-bg: #e6f6ff;
  --maze-bg-active: #abe2ff;
}

body {
  background-color: var(--off-white);
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  margin-top: 10px;
}

h1,
h2 {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  margin: 0;
}

.navbar {
  padding: 10px 20px;
  border-bottom: 1px black dashed;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

textarea {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  border-radius: 10px;
  border: 1px grey solid;
  margin: 20px 0;
  padding: 5px;
}

.maze {
  background-color: var(--maze-bg);
  margin: auto;
  outline: none;
}

.maze:focus {
  background-color: var(--maze-bg-active);
  margin: auto;
  outline: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 20px;
  background-color: var(--black);
}

.footer a {
  color: var(--white);
}

.svg-wrap {
  position: relative;
}
.svg-wrap::after {
  content: 'Click to play';
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: rgba(253, 253, 236, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  pointer-events: none;
  transition: opacity 0.2s;
}

.svg-wrap:focus-within::after {
  opacity: 0;
}
