.container {
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.line {
  stroke: black;
  stroke-width: 0.1;
}

.maze {
  background-color: lightblue;
  margin: 10vh auto;
}
